transformers
numpy
datasets
sacrebleu
rouge_score
py7zr
pandas
nltk
tqdm
pyyaml
mayplotlib
torch
notebook
boto3
mypy-boto3-s3
python-box==7.1.1
ensure==1.0.4
fastapi==0.45.0
uvicorn==0.27.0
jinja2==3.1.3
-e .
